<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Editar Producto</title>
</head>

<body>
    <header id="header" class="bg-info shadow p-4 font-weight-bold text-center h4"></header>

    <main>
        <section class="container text-white ">
            <div class="container-form m-5 p-5 border border-info bg-light rounded shadow-lg">
                <form class="px-5">
                    <div class="form-group text-secondary">
                        <label for="id">ID</label>
                        <input type="number" class="form-control" name="id" id="id" disabled>
                    </div>
                    <div class="form-group text-secondary">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre">
                    </div>
                    <div class="form-group text-secondary">
                        <label for="precio">Precio:</label>
                        <input type="number" class="form-control" name="precio" id="precio">
                    </div>
                    <div class="form-group text-secondary">
                        <label for="stock">Stock:</label>
                        <input type="number" class="form-control" name="stock" id="stock">
                    </div>
                    <div class="form-group text-secondary mb-5">
                        <label for="imagen">Imagen:</label>
                        <input type="text" class="form-control" name="imagen" id="imagen">
                    </div>
                    <button class="btn btn-primary d-block m-auto" type="button" onclick="modificar()">Modificar</button>
                </form>
            </div>
        </section>
    </main>

    <script src="../js/editar_producto.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/datos_editar.js"></script>
</body>

</html>
